<div class="row">
	<div class="col9">
		<h2>Algemene score</h2>
		<%= pie_chart({"Vitaliteit" => @vitality.average(:answer), "Toewijding" => @dedication.average(:answer), "Absorbtie" => @absorption.average(:answer)}, :id => "main-chart")  %>
	</div>
	<div class="col3">
		<h2>Eerdere dagen</h2>
		<div class="history">
			<% @answer.each do |a| %>
		
			<div>
				<p><%= a.created_at.strftime("%A %d %b:") %> <%= a.answer %></p>
			
			</div>
		
			<% end %>
		
		</div>
	</div>
</div>
<div class="row-end">&nbsp;</div>

<div class="row">
	<div class="col12">
		<h2>Test</h2>
		<%= pie_chart ({"Maandag" => 8, "Dinsdag" => 4, "Woensdag" => 8, "Donderdag" => 7, "Vrijdag" => 7}) %>
	</div>
</div>
<div class="row-end">&nbsp;</div>