<<<<<<< HEAD
<h1>Rate Your Day!</h1>
<p>Question1(Absorptie)</p>
<form name="Answer" action="#" method="POST">

			<input type="radio" name="value" value="1"> 1
			<input type="radio" name="value" value="2"> 2
			<input type="radio" name="value" value="3"> 3 
			<input type="radio" name="value" value="4"> 4 
			<input type="radio" name="value" value="5"> 5
			
</form>
<br/>
<p>Question2(Toewijding)</p>
<form name="Answer" action="#" method="POST">

			<input type="radio" name="value" value="1"> 1
			<input type="radio" name="value" value="2"> 2
			<input type="radio" name="value" value="3"> 3 
			<input type="radio" name="value" value="4"> 4 
			<input type="radio" name="value" value="5"> 5
		
</form>
<br/>

<p>Question3(Vitaliteit)</p>
<form name="Answer" action="#" method="POST">

			<input type="radio" name="value" value="1"> 1
			<input type="radio" name="value" value="2"> 2
			<input type="radio" name="value" value="3"> 3 
			<input type="radio" name="value" value="4"> 4 
			<input type="radio" name="value" value="5"> 5
			
</form>
<br/>
<br/>

<input type="submit" value="Submit">
=======
<h1>Dashboard#rateyourday</h1>
<p>Find me in app/views/dashboard/rateyourday.html.erb</p>
>>>>>>> 0e5f5a0b9a276c37f3744f49bec22fa8e58b4d3c
