<div id="message">
	<h1 class="home">Welkom bij <b>Rate your Day</b></h1>
	<h2 class="home">Geef je dag een beoordeling en krijg zo inzicht in je workflow!</h2>
</div>



<p class="home">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus id feugiat neque. Cras facilisis scelerisque arcu eget sodales. Suspendisse fringilla, felis eget vehicula feugiat, lorem lectus cursus urna, vitae luctus orci dui ut quam. Suspendisse vitae elit ut mi posuere placerat ultrices eget libero. Aenean quis leo sit amet augue porttitor aliquam. Vivamus a odio ultricies, egestas libero vel, semper lacus. Pellentesque laoreet lorem ut convallis ultrices. Nam bibendum urna sapien, at faucibus urna congue non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer cursus velit ac arcu pretium, in sodales tortor tempus. Nulla metus nibh, auctor et tellus at, faucibus elementum odio
</p>