<div class="row">
	<div class="col12">
		<h2>Beantwoord</h2>
		<% @playlist.each do |a| %>
		
		<div>
			Schaal:<%= Scale.find(Question.find(a.question_id).scale_id).scale %></br>
			Vraag:<%= Question.find(a.question_id).question %></br>
			Cijfer:<%= Answer.find(a.answer_id).answer %>
			<%= Answer.find(a.answer_id).created_at.strftime("%d-%m-%Y") %>
		</div>
		
		<% end %>
	</div>
</div>