<div class="row">
	<div class="col12">
		<h2>Rate Your Day!</h2>
		<div class="question">
	  		
			<%= $question.question %>
			<%= @answer.answer %>
			
		</div>
	</div>
	<div class="row-end">&nbsp;</div>
</div>