/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

div.layout-978 { width: 978px; margin: 0px auto; }

div.row { height: 1%; }
div.row-end { clear: both; font: 1px/1px sans-serif; height: 1px; overflow: hidden; }

div.col1, div.col2, div.col3, div.col4, div.col5, div.col6, div.col7, div.col8, div.col9, div.col10, div.col11, div.col12 { float: left; margin-left: 30px; }
div.col1:first-child, div.col2:first-child, div.col3:first-child, div.col4:first-child, div.col5:first-child, div.col6:first-child, div.col7:first-child, div.col8:first-child, div.col9:first-child, div.col10:first-child, div.col11:first-child, div.col12:first-child { margin-left: 0px; }
div.col1 { width: 54px; }
div.col2 { width: 138px; }
div.col3 { width: 222px; }
div.col4 { width: 306px; }
div.col5 { width: 390px; }
div.col6 { width: 474px; }
div.col7 { width: 558px; }
div.col8 { width: 642px; }
div.col9 { width: 726px; }
div.col10 { width: 810px; }
div.col11 { width: 894px; }
div.col12 { width: 978px; }

body {
	margin: 0;
}

/* header */
header {
	background-color: rgb(21, 27, 31);
	width:auto;
	height: auto;
}

ul ul {
	display: none;
}

ul li {
	color: white;
	display: inline;
}

ul {
	float: right;
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline-block;
}

ul li:hover > ul {
	display: block;
}

ul:after {
	content: ""; clear: both; display: block;
}

#logo a {
	-webkit-font-smoothing: antialiased;
	font-family: 'Lobster', cursive;
	font-size: 16pt;
	font-weight: normal;
	color: white;
	text-decoration: none;
	border-right-color: rgb(68, 68, 68);
	border-right-style: solid;
	border-right-width: 1px;
	padding: 15px 25px 15px 0px;
	display: inline-block;
}

ul li a {
	font-family: 'helvetica neue', sans-serif;
}


