<p>Hello <%= @resource.email %>!</p>

<p>Er is door iemand een verzoek ingediend om uw wachtwoord te veranderen, dat kan doormiddel van onderstaande link.</p>

<p><%= link_to 'Verander mijn wachtwoord', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Negeer deze email als dit niet door u is gedaan.</p>
<p>Je wachtwoord verandert niet tenzij je naar de link gaat en een nieuw wachtwoord instelt.</p>
