<h1>Profile page</h1>
<p><%= current_user.first_name %></p>
<%= link_to "Wijzig profiel", edit_user_registration_path %>





<div><input type="text" name="typeahead-example" placeholder="Type here" class="typeahead-example"></div>
    <script src="./js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="./js/hogan.js" type="text/javascript"></script>
    <script src="./js/typeahead.min.js" type="text/javascript"></script>
       <script>

    $('.example-countries .typeahead').typeahead({
    name: 'countries',
    local: [
    "Netherlands", 
    "England",
    "Germany",
    "Belgium",
    "France"
    ]
    });</script>