<div class="row">
	<div class="col12">
		<div class="progress-bar">
			<%= progress_bar(user_percentage, :color => 'default', :rounded => false) %>
			<p class="progress-number"><%= number_with_precision(user_percentage, :precision => 0) %>% ingevuld</p>
		</div>
	</div>
</div>